<%- include('./partials/header') %>

<div class="jumbotron jumbotron-fluid border rounded m-4" style="color: whitesmoke; text-align:center">
    <div class="container">
      <h1 class="display-4"><%= error.status %> Error</h1>
      <p class="lead"><%= error.message %></p>
    </div>
</div>

<%- include('./partials/footer') %>